*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

@import url(../../../files/reset.css);
@import url(../../../files/fonts.css);

body{
    font-family: 'Frankois_One', sans-serif;
}

.menu{
    position: fixed;
    top: 0px;
    z-index: 9999;
    display: flex;
    text-align: center;
    width: 1119px;
    height: 120px;
    padding: 10px;
    box-shadow: 0 6px 5px -5px black;
    background-color: black;
    margin: auto;
}

.nav{
    display: block;
}

.menu nav ul {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 180px;
}

.menu nav a {
    text-decoration: none;
    color: #fff;
}

.menu nav ul li {
    display: flex;
    list-style-type: none;
    margin:0 25px;
    font-size: 22px;
    transition-duration: 0.7s;
    transition-property: transform;
}

.menu nav ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.marg{
    margin-left: 20px;
}

.container::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    margin: 120px auto 0;
    height: auto;
    width: 1119px;
    background-color:  white;
}

.size-block{
    padding: 50px 90px 30px;
}

.LW{
    height: 50px;
    text-align: center;
    font-size: 35px;
    font-style: oblique;
}

h2{
    margin: 20px 0;
}

.main{
    margin: 50px auto;
	width: 500px;
	border: 1px solid #666;
	padding-bottom: 10px;
}

.main>.main-img{ 
	width: 100%;
}

.main>h2{
	text-align: center;
	margin: 20px;
}

.main>p{
	font-size: 14;
	line-height: 17px;
	margin: 10px;
	text-indent: 15px;
}

.main>.it{
	font-style: italic;
	color: brown;
}

.wrap{
	width: 800px;
	margin: 10px auto;
    line-height: 1.5;
}

.wrap>.main-img{
	width: 100%;
	margin: 20px 0;
}

.wrap>h2{
	text-align: center;
	margin-top: 30px;
	border-top: 1px solid #333;
    font-size: 30px;
}

.wrap>p {
	margin: 20px 0;
	text-indent: 30px;
}

.wrap>.second-img {
	float: right;
	margin: 30px 0 30px 30px;
}

.footer {
    margin-bottom: 40px;
	background: cadetblue;
	text-align: center;
	padding: 30px;
	color: #fff;
}

.mobile-menu{
    margin: 40px auto;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    background-image: url("../images/body-bg.png");
}

.utp{
    margin-left: 125px;
    width: 700px;
    height: 50px;
}

.bar{
    display: flex;
    width: 700px;
    position: relative;
    overflow: hidden;
    left: 125px;
    top: 10px;
}

.bar li {
    margin-right: 3px;
    list-style: none;
}
  
.bar button{
    padding: 5px 10px;
    outline: none;
    border: none;
    font-size: 12px;
}
  
.bar button:focus, .bar button:focus::after{
    background-color: rgb(193,209,214);
}
  
.bar button:focus::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    top: 22px;
}

.burger-menu{
    margin: 40px auto;
    padding: 20px 50px 30px 40px;
    width: 100%;
    height: 480px;
    background: linear-gradient(152deg, rgba(37,30,32,1) 0%, rgba(68,56,54,1) 100%);
    font-family: 'Times New Roman', Times, serif;
}

.contents{
    width: 100%;
    height: 350px;
}

.contents-left{
    position: relative;
    background-image: url("../images/burger.png");
    width: 300px;
    height: inherit;
    background-size: contain;
    float: left;
}

.head-box{
    position: absolute;
    left: -10px;
    bottom: 20px;
    padding-top: 25px;
    width: 300px;
    height: 170px;
    background-color: black;
    color: white;
}

.head-box h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.75;
}

.action-price{
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.head-box span{
    color: rgb(245,197,57);
}

.contents-right{
    position: relative;
    background-color: white;
    width: 547px;
    height: inherit;
    float: left;
}

.contents-right h2{
    margin-top: 40px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.pricelist{
    margin: 40px 60px;
    list-style: none;
    text-align: center;
}

.pricelist li{
    position: relative;
    float: left;
    width: 180px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d5d5;
}

.pricelist li:nth-child(2n) {
    margin-left: 50px;
}

.pricelist li::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #d5d5d5;
    transform: rotate(45deg);
    bottom: -4px;
    left: 85px;
}

.pricelist div{
    color: grey;
    font-family: Arial;
    font-size: 15px;
}

.buttons{
    float: right;
    margin-top: 10px;
    padding: 15px;
    width: 170px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.8s;
}

.buttons:active{
    opacity: 0.5;
}
  
.buttons:hover {
    color: #000;
    background-color: #FFF;
}

.scrollup {
    position: fixed;
    color: #fff; 
    background-color: rgb(104, 94, 94); 
    right: 30px; 
    bottom: 20px; 
    padding: 4px 10px;
    font-size: 22px; 
    border-radius: 10px; 
    cursor: pointer; 
    display: none;
    text-align: center; 
}

div.scrollup:hover {
    background-color: #000; 
}

.bottom{
    width: 1119px;
    height: 70px;
    background-color: black;
}

.icons{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 25px 7px 0;
    float: left;
    background-image: url('../../../image/social-icons-sprite2.png');
    background-color: black;
    transition-duration: 0.7s;
    transition-property: transform;
}

.facebook{
    margin-left: 530px;
    background-position: 171px -18px;
} 

.instagram{
    background-position: 135px 54px;
}

.youtube{
    background-position: 207px 54px;
}

.icons:hover{
    transform: scale(1.2);
    cursor: pointer;
}
