*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

@import url(./reset.css);
@import url(./fonts.css);

.menu{
    position: fixed;
    top: 0px;
    z-index: 9999;
    display: flex;
    text-align: center;
    width: 1119px;
    height: 120px;
    padding: 10px;
    box-shadow: 0 6px 5px -5px black;
    background-color: black;
    margin: auto;
}

.nav{
    display: block;
}

.menu nav ul {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 180px;
}

.menu nav a {
    text-decoration: none;
    color: #fff;
}

.menu nav ul li {
    display: flex;
    list-style-type: none;
    margin:0 25px;
    font-size: 22px;
    font-family: 'Frankois_One', sans-serif;
    transition-duration: 0.7s;
    transition-property: transform;
}

.menu nav ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.left{
    background-color:  rgb(0,1,31);
    height: 2600px;
    width: 370px;
    padding: 60px 60px;
}

.text-head, .text-heads-2, .text-heads-3, .text-head-right{
    text-transform: uppercase;
    color: white;
    font-size: 35px;
    font-family: 'Frankois_One', sans-serif;
    margin: 80px 40px 0;
}

.text-heads-2{
    margin: 50px 65px 0;
}

.text-heads-3{
    margin: 50px 20px 0;
}

.text-head-right{
    margin: 60px 0 0 35px;
    color: black;
}

.positionss{
    float: left;
}

.container::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 1119px;
}

.right{
    width: 749px;
    background-color: white;
    height: 2600px;
}

.image{
    position: relative;
	width: 100%;
}

h1{
    position: absolute;
	top: 170px;
	left: 100px;
	width: 100%;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'CreateRound', sans-serif;
}

.heads{
    position: absolute;
	top: 240px;
	left: 100px;
	width: 100%;
    /* color: rgb(179, 243, 222); */
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'CreateRound', sans-serif;
}

.fa-phone-alt, .fa-envelope-square, .fa-map-marker-alt{
    margin: 25px 20px 0 0;
    font-size: 25px;
    color: rgb(179, 243, 222);
    transition-duration: 0.7s;
    transition-property: transform;
}

.fa-envelope-square, .fa-map-marker-alt{
    font-size: 30px;
}

.fa-phone-alt:hover, .fa-envelope-square:hover, .fa-map-marker-alt:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.link{
    font-size: 18px;
    color: white;
    font-family: 'Frankois_One', sans-serif; 
    text-decoration: none;
}

.scrollup {
    position: fixed;
    color: #fff; 
    background-color: rgb(104, 94, 94); 
    right: 30px; 
    bottom: 20px; 
    padding: 4px 10px;
    font-size: 22px; 
    border-radius: 10px; 
    cursor: pointer; 
    display: none;
    text-align: center; 
}

div.scrollup:hover {
    background-color: #000; 
}

.bottom{
    margin-top: 100px;
    width: 1119px;
    height: 70px;
    background-color: black;
}

.icons{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 25px 7px 0;
    float: left;
    background-image: url('../image/social-icons-sprite2.png');
    background-color: black;
    transition-duration: 0.7s;
    transition-property: transform;
}

.facebook{
    margin-left: 530px;
    background-position: 171px -18px;
} 

.instagram{
    background-position: 135px 54px;
}

.youtube{
    background-position: 207px 54px;
}

.icons:hover{
    transform: scale(1.2);
    cursor: pointer;
}

hr{
    margin: 50px auto 0;
    /* приховання стандартної лінії */
    border: 0; 
    border-bottom: 3px solid grey;
    width: 90px;
}

.skill-text{
    margin: 25px 10px 0 0;
    color: rgb(179, 243, 222);
    font-family: 'Frankois_One', sans-serif;
    font-size: 19px;
}

.block-skill, .block-skill-1, .block-skill-1-2, .block-skill-1-3, .block-skill-1-4, .block-skill-1-5, .block-skill-1-6,
.block-languages-1, .block-languages-1-1, .block-languages-1-2, .block-languages-1-3, .block-skill-1-7{
    margin: 27px 10px 0 0;
    width: 166px;
    height: 15px;
    background-color: white;
}

.block-skill-2, .block-skill-2-1, .block-skill-2-2, .block-skill-2-3, .block-skill-2-4, .block-skill-2-5, .block-skill-2-6,
.block-languages-2, .block-languages-2-1, .block-languages-2-2, .block-languages-2-3, .block-skill-2-7{
    width: 149px;
    height: 15px;
    background-color: rgb(13, 146, 146);
}

.block-skill-1{
    margin: 27px 10px 0 12px;
}

.block-skill-2-1{
    width: 119px;
}

.block-skill-1-2{
    margin: 27px 10px 0 0;
}

.block-skill-2-2{
    width: 158px;
}

.block-skill-1-3{
    margin: 27px 10px 0 41px;
}

.block-skill-2-3{
    width: 49px;
}

.block-skill-1-4{
    margin: 27px 10px 0 22px;
}

.block-skill-2-4{
    width: 89px;
}

.block-skill-1-5{
    margin: 27px 10px 0 7px;
}

.block-skill-2-5{
    width: 109px;
}

.block-skill-1-6{
    margin: 27px 10px 0 22px;
}

.block-skill-1-7{
    margin: 27px 10px 50px 22px;
}

.block-skill-2-6{
    width: 80px;
}

.block-skill-2-7{
    width: 98px;
}

.block-languages-1{
    margin: 27px 0 0 2px;
    width: 155px;
}

.block-languages-2{
    width: 150px;
}

.block-languages-1-1{
    margin: 27px 0 0 12px;
    width: 155px;
}

.block-languages-2-1{
    width: 130px;
}

.block-languages-1-2{
    margin: 27px 0 0 18px;
    width: 155px;
}

.block-languages-2-2{
    width: 95px;
}

.block-languages-1-3{
    margin: 27px 0 50px 10px;
    width: 155px;
}

.block-languages-2-3{
    width: 75px;
}

.fa-user, .fa-desktop, .fa-graduation-cap, .fa-calendar-check{
    color: rgb(13, 146, 146);
}

.block-user, .block-user-1, .block-user-2, .block-user-3{
    margin: 17px 10px 20px 20px;
    width: 491px;
    height: 3px;
    background-color: rgb(13, 146, 146);
}

.description{
    margin: 50px 0 10px 35px ;
    font-size: 18px;
    font-family: 'Frankois_One', sans-serif;
    line-height: 26px;
}

.full-desription{
    margin: 20px 15px 50px 0;
    line-height: 26px;
}

.block-user{
    margin: 77px 10px 20px 20px;
}

.block-user-1{
    width: 288px;
}

.block-user-2{
    width: 410px;
}

.block-user-3{
    width: 454px;
}

.text-companies{
    margin: 35px 0 10px 60px ;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'CreateRound', sans-serif;
    color: rgb(13, 146, 146);
}

.sizing{
    margin-top: 110px;
}

.years{
    margin: 0 0 10px 35px;
    font-size: 15px;
    color: darkgrey;
    font-family: 'Frankois_One', sans-serif;
}

.text-head-content, .text-head-content-1, .text-head-cont-3{
    margin: 15px 0 0 0;
    font-size: 24px;
    font-family: 'Frankois_One', sans-serif;
}

.text-head-content-1{
    margin: 105px 0 0 20px;
    color: rgb(13, 146, 146);
}

.text-head-cont-3{
    margin-left: 20px;
    color: rgb(13, 146, 146);
}

.contents, .cont-1{
    margin: 5px 15px 0 70px;
    font-size: 18px;
    font-family: 'Frankois_One', sans-serif;
    line-height:26px;
}

.cont-1{
    margin: 60px 0 0 20px;
}

.cont-2{
    margin: 5px 0 0 0px;
}

.margins{
    margin-bottom: 50px;
}

.union{
    margin-top: 120px;
    height: 2500px;
}

.marg{
    margin-left: 20px;
}

.list-number {
    margin-left: 60px;
    margin-top: 8px;
    font-weight: 700;
    font-family: 'Frankois_One', sans-serif;
}

.main-link{
    margin-top: 40px;
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Frankois_One', sans-serif;
    color: black;
    transition-duration: 0.5s;
    transition-property: transform;
}

.main-link:hover{
    color:rgb(13, 146, 146);
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

.fa-check{
    margin-left: 7px;
    font-size: 18px;
    color: black;
}

#about, #projects, #experience, #education{
    padding-top: 120px;
    margin-top: -120px;
}
